CompileFlags:
  Add:
    - -xc
    - -Wall
    - -WX
    - -Wno-pragma-pack
    - -Wno-unused-function
    - -Wno-unknown-pragmas
    - -std=c23
    - --target=x86_64-pc-windows-gcc

    - "-ID:/ax_project/ax_virt_layer_utils/utils/ax_update_exe/src"
    - "-ID:/ax_project/ax_virt_layer_utils/utils/ax_utility_lib/src"
    - "-ID:/ax_project/ax_virt_layer_utils/utils/ax_utility_lib/src/data"
    - "-ID:/ax_project/ax_virt_layer_utils/utils/ax_utility_lib/src/data/parser"
    - "-ID:/ax_project/ax_virt_layer_utils/utils/ax_utility_lib/src/data/parser/format"
    - "-ID:/ax_project/ax_virt_layer_utils/utils/ax_utility_lib/src/ext"
    - "-ID:/ax_project/ax_virt_layer_utils/utils/ax_utility_lib/src/io"
    - "-ID:/ax_project/ax_virt_layer_utils/utils/ax_utility_lib/src/io/memory"
    - "-ID:/ax_project/ax_virt_layer_utils/utils/ax_utility_lib/src/io/structures"
    - "-IC:/msys64/ucrt64/include"

    - "-DAX_WIN64"
    - "-DAX_UM"
Diagnostics:
  Suppress:
    - "unused-includes"
    - "invalid_token_after_toplevel_declarator"
