CompileFlags:
  Add:
    - -Wall
    - -WX
    - -Wno-pragma-pack

    - "-ID:/ax_project/ax_virt_layer_utils/utils/ax_utility_lib/win/build/headers"
    - "-IC:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/um/full"

    - "-DAX_WIN32"
    - "-DAX_UM"
